#canvas {

    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -o-user-select: none;
    -moz-user-select: none;
	margin: auto;
	user-select: none;

}
@media only screen and (max-width: 600px) {
  html {
    transform: rotate(90deg);
  }
}

.easy{
	height: 70px;
	width: 150px;
	top:200px;
	left: 480px;
}
.medium{
	height: 70px;
	width: 150px;
	top:250px;
	left: 980px;
}
.impossible{
	height: 70px;
	width: 150px;
	top:250px;
	left: 1380px;
}
.small{
	height: 6%;
	width: 8%;
	top:40%;
	left: 32%;
}
.average {
	height: 6%;
	width: 11%;
	top:40%;
	left: 50%;
}
.giant{
	height: 6%;
	width: 8%;
	top:40%;
	left: 73%;
}
.scoreLess{
	height: 5%;
	width: 3%;
	top:54%;
	left: 34.5%;
}
.scoreMore{
	height: 5%;
	width: 3%;
	top:54%;
	left: 74%;
}
.ballLess{
	height: 5%;
	width: 3%;
	top:66%;
	left: 34.5%;
}
.ballMore{
	height: 5%;
	width: 3%;
	top:66%;
	left: 74%;
}
.changeStyleLeft{
	height: 5%;
	width: 3%;
	top:75%;
	left: 34.5%;
}
.changeStyleRight{
	height: 5%;
	width: 3%;
	top:75%;
	left: 74%;
}
.startGame{
	height: 7%;
	width: 16%;
	top:87%;
	left: 49%;
}
.music{
	height: 6%;
	width: 8%;
	top:86%;
	left: 78%;
}